node_modules
authentication-frontend
.aws-sam

# Intellij IDEA
.idea/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

cf-template.*
